.footer a, .footer, .restaurantCarteInfo, .restaurantCarteImg p, .restaurantCarteImg, .restaurantCarte, .restaurantSection, .fonctionRuleNumber, .fonctionRule, .fonctionSection, .formAcceuil .formDescription, .formAcceuil .formLocalisation, .formAcceuil, header, .buttonCoeur, .pageFlex {
  display: flex;
}

.formLocalisationInput, .buttonSubmitSkin, .pageFlex {
  font-family: "roboto";
  font-size: 1em;
}

@font-face {
  font-family: "roboto";
  src: url(../polices/Roboto.ttf) format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url(../polices/Shrikhand.ttf) format("truetype");
}
.formLocalisationInput {
  font-weight: bold;
}

.formDescription :nth-child(1) {
  font-size: 1.3em;
  font-weight: bolder;
}

.restaurantCarteInfo h2 {
  font-size: 1.1em;
}

.pageMenu h1 {
  font-family: "shrikhand";
  font-size: 1.7em;
  font-weight: 200;
}

.footerLogo {
  font-family: "shrikhand";
  font-size: 1.2em;
}
@media screen and (min-width: 1025px) {
  .footerLogo {
    font-size: 1.5em;
  }
}

.sectionMenuEntree h2 {
  font-size: 1.1em;
  font-weight: normal;
  color: #353535;
}
.sectionMenuPlat h2 {
  font-size: 1.1em;
  font-weight: normal;
  color: #353535;
}
.sectionMenuDessert h2 {
  font-size: 1.1em;
  font-weight: normal;
  color: #353535;
}

.checkboxMenuTextPlat {
  font-weight: bold;
  font-size: 1.1em;
}
.checkboxMenuTextDetail {
  font-size: 0.9em;
}
.checkboxMenuTextDetailPrix {
  font-weight: bold;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageFlex {
  flex-direction: column;
  height: 100%;
  margin: auto;
  background-color: white;
}
@media screen and (max-width: 699px) {
  .pageFlex {
    min-width: 350px;
  }
}
@media screen and (min-width: 1025px) {
  .pageFlex {
    background-color: #f6f6f6;
  }
}

@keyframes loaderOut {
  100% {
    z-index: -1000;
  }
}
@keyframes spinnerOpacity {
  15%, 85% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes arcRotateBefore {
  0% {
    transform: rotate(0deg);
  }
  50% {
    border-top-color: #FF79DA;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes arcRotateAfter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    border-top-color: #99E2D0;
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinnerText {
  12.5% {
    text-shadow: 0px 0px 10px #9356DC;
  }
  25% {
    text-shadow: 0px 5px 30px #FF79DA;
  }
  37.5% {
    text-shadow: 0px 0px 10px #FF79DA;
  }
  50% {
    text-shadow: 0px 5px 30px #99E2D0;
  }
  62.5% {
    text-shadow: 0px 0px 10px #99E2D0;
  }
  75% {
    text-shadow: 0px 5px 30px #FF79DA;
  }
  87.5% {
    text-shadow: 0px 0px 10px #FF79DA;
  }
}
@keyframes slideBackLeft {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideBackRight {
  100% {
    transform: translateX(100%);
  }
}
@keyframes pulseCoeur {
  50% {
    transform: scale(1.2);
  }
}
@keyframes menuOpacity {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes buttonOpacity {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.spinner {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  transform: scale(0);
  opacity: 0;
  animation: loaderOut 0.1s 3.5s linear, spinnerOpacity 3s 0.2s ease-in-out;
}
.spinner::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: solid 3px transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: arcRotateBefore 0.9s 0.2s cubic-bezier(0.2, 0, 0.8, 1) infinite;
}
.spinner::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: solid 3px transparent;
  border-top-color: #353535;
  border-radius: 50%;
  animation: arcRotateAfter 0.9s 0.2s cubic-bezier(0.2, 0, 0.8, 1) infinite;
}
.spinnerLetter {
  width: fit-content;
  font-family: "shrikhand";
  font-size: 1.8em;
  color: #353535;
  text-shadow: 0px 5px 30px #9356DC;
  animation: spinnerText 3s 0.2s linear infinite;
}

.buttonSubmitSkin {
  height: 50px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 0 5px 10px #b5b5b5;
  transform: scale(1);
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out 0.1s;
}
.buttonSubmitSkin:hover {
  opacity: 0.85;
  box-shadow: 0 5px 10px #828282;
  transform: scale(1.05);
}

.buttonCoeur {
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: inherit;
  position: relative;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}
.buttonCoeurCache {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: initial;
  top: 0;
}
.buttonCoeur input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  outline: none;
  cursor: pointer;
}
.buttonCoeur .fa-heart {
  color: #353535;
  transform: scale(1);
}

.buttonCoeur input:checked ~ .far {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pulseCoeur 0.2s 0.45s;
}
.buttonCoeur input:checked ~ span.buttonCoeurCache {
  background-color: inherit;
  height: 0%;
  transition: height 0.5s ease-out;
}

.checkboxMenu {
  display: flex;
  position: relative;
  width: 349px;
  height: 68px;
  margin: 10px auto;
  background-color: white;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 5px 10px #e8e8e8;
}
.checkboxMenu input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  margin: 0;
}
.checkboxMenuText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 14px 0 14px 12px;
  width: 337px;
  transition: width 0.4s ease-in;
}
.checkboxMenuTextPlat {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  transition: width 0.4s ease-out;
}
.checkboxMenuTextDetail {
  display: flex;
}
.checkboxMenuTextDetailPlat {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px;
}
.checkboxMenuTextDetailPrix {
  width: 57px;
  color: #353535;
  text-align: center;
}
.checkboxMenuAnimation {
  display: flex;
  align-items: center;
  width: 59px;
  background-color: #99E2D0;
  font-size: 1.4em;
  color: white;
}
.checkboxMenuAnimation .fas {
  margin-left: 18px;
  transition: transform 0.4s ease-in-out;
}

.checkboxMenu input:checked ~ .checkboxMenuText {
  width: 278px;
  transition: width 0.4s ease-out;
}
.checkboxMenu input:checked ~ * .checkboxMenuTextPlat {
  width: 230px;
}
.checkboxMenu input:checked ~ * .fas {
  transform: rotate(-360deg);
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderOut 0.1s 3.5s linear forwards;
}
.loaderBackLeft {
  position: fixed;
  top: 0;
  left: 0;
  width: 51%;
  height: 100%;
  background-color: #eaeaea;
  z-index: 10;
  animation: slideBackLeft 0.3s 3.2s ease-in forwards;
}
.loaderBackRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 51%;
  height: 100%;
  background-color: #eaeaea;
  z-index: 10;
  animation: slideBackRight 0.3s 3.2s ease-in forwards;
}

header {
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
}
header img {
  width: 163px;
  height: auto;
}
header .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5em;
  color: #353535;
}
@media screen and (min-width: 1025px) {
  header {
    height: 130px;
    background-color: white;
  }
  header img {
    width: 200px;
    height: auto;
  }
  header .fa-arrow-left {
    top: 53px;
    left: 40px;
    font-size: 1.9em;
  }
}

.headerAcceuil {
  box-shadow: 0 1px 5px #b5b5b5;
}

.formAcceuil {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 1025px) {
  .formAcceuil {
    max-width: 1440px;
  }
}
.formAcceuil .formLocalisation {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}
.formAcceuil .formLocalisationInput {
  background-color: #eaeaea;
  color: #353535;
  border: none;
  height: 50px;
  width: 125px;
}
.formAcceuil .formLocalisationInput:focus {
  outline: none;
}
.formAcceuil .formLocalisationMarker {
  color: #353535;
  margin-right: 18px;
}
.formAcceuil .formDescription {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1025px) {
  .formAcceuil .formDescription {
    background-color: white;
  }
}
.formAcceuil .formDescription :nth-child(1) {
  max-width: 200px;
  margin: 40px 0 15px;
}
.formAcceuil .formDescription :nth-child(2) {
  max-width: 300px;
  color: #353535;
  margin: 0;
}
.formAcceuil .formDescriptionButton {
  width: 218px;
  margin: 30px 0 55px;
}

.fonctionSection {
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-bottom: 55px;
}
.fonctionSection h1 {
  margin: 50px 0 20px 22px;
}
@media screen and (min-width: 1025px) {
  .fonctionSection {
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
  }
  .fonctionSection h1 {
    width: 100%;
  }
  .fonctionSection .fonctionRule {
    width: 30%;
    margin: 35px auto;
  }
}

.fonctionRule {
  align-items: center;
  width: 86%;
  height: 74px;
  margin: 12px auto;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0 5px 10px #e8e8e8;
}
.fonctionRuleNumber {
  position: relative;
  left: -12px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #9356dc;
  color: #f6f6f6;
}
.fonctionRule .fas {
  color: #828282;
  font-size: 1.2em;
  margin: 0 5px;
}
.fonctionRule p {
  font-weight: bold;
  margin: 0 10px;
}
.fonctionRule:hover {
  background-color: #f4eefc;
  box-shadow: 0 5px 10px #cecece;
}
.fonctionRule:hover .fas {
  color: #9356DC;
}

.restaurantSection {
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.restaurantSection h1 {
  margin: 50px 0 20px 22px;
}
@media screen and (min-width: 700px) {
  .restaurantSection {
    max-width: 1440px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurantSection h1 {
    width: 100%;
  }
}

.restaurantCarte {
  flex-direction: column;
  width: 335px;
  height: 251px;
  margin: 10px auto;
  border-radius: 18px;
  box-shadow: 0 5px 10px #e8e8e8;
}
@media screen and (min-width: 700px) {
  .restaurantCarte {
    margin: 15px auto;
  }
}
.restaurantCarte a {
  text-decoration: none;
}
.restaurantCarteGout {
  background-image: url(../images/restaurant/gout.jpg);
  background-size: cover;
  background-position: bottom;
}
.restaurantCarteEnchantee {
  background-image: url(../images/restaurant/enchantee.jpg);
  background-size: cover;
  background-position: right 50% top 60%;
}
.restaurantCarteFrancaise {
  background-image: url(../images/restaurant/francaise.jpg);
  background-size: cover;
  background-position: bottom;
}
.restaurantCarteDelice {
  background-image: url(../images/restaurant/delice.jpg);
  background-size: cover;
  background-position: bottom;
}
.restaurantCarteImg {
  height: 174px;
  width: 100%;
  justify-content: flex-end;
  border-radius: 18px 18px 0 0;
}
.restaurantCarteImg p {
  justify-content: center;
  align-items: center;
  margin: 12px 12px 0 0;
  width: 80px;
  height: 28px;
  background-color: #99E2D0;
  color: #2fa487;
  border-radius: 2px;
  font-weight: bold;
}
.restaurantCarteInfo {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 77px;
  background-color: white;
  border-radius: 0 0 18px 18px;
}
.restaurantCarteInfo h2 {
  margin: 16px 0 0 14px;
}
.restaurantCarteInfo p {
  margin: 7px 0 0 14px;
}
.restaurantCarteInfo .buttonCoeur {
  margin: auto 15px;
}

.MenuBanniere {
  height: 300px;
  display: flex;
  align-items: flex-end;
}
.MenuBanniereGout {
  background-image: url(../images/restaurant/gout.jpg);
  background-size: cover;
  background-position: left 60% top 50%;
}
.MenuBanniereEnchantee {
  background-image: url(../images/restaurant/enchantee.jpg);
  background-size: cover;
  background-position: left 60% top 50%;
}
.MenuBanniereFrancaise {
  background-image: url(../images/restaurant/francaise.jpg);
  background-size: cover;
  background-position: left 5% bottom 10%;
}
.MenuBanniereDelice {
  background-image: url(../images/restaurant/delice.jpg);
  background-size: cover;
  background-position: left;
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
  .MenuBanniere {
    height: 400px;
  }
}
@media screen and (min-width: 1025px) {
  .MenuBanniere {
    height: 500px;
  }
}
.MenuBanniereText {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
}
.MenuBanniereText h1 {
  margin: 30px 0 0 20px;
}
.MenuBanniereText .buttonCoeur {
  margin: 38px 30px 0 0;
}

.sectionMenu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 25px;
  margin-top: -2px;
}
.sectionMenu div {
  margin: 40px auto 0;
}
.sectionMenu div h2 {
  height: 30px;
  width: 40px;
  border-bottom: solid 3px #99E2D0;
}
.sectionMenuButton {
  width: 190px;
  margin: 45px auto;
}
@media screen and (min-width: 1100px) {
  .sectionMenu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sectionMenu div {
    width: 33%;
    min-width: 350px;
  }
  .sectionMenu div h2 {
    margin-left: 15%;
  }
  .sectionMenuButton {
    margin: 80px auto 60px;
  }
}

.sectionMenuGout .sectionMenuEntree {
  animation: menuOpacity 0.25s 0.2s ease-out both;
}
.sectionMenuGout .sectionMenuEntree1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.225s;
}
.sectionMenuGout .sectionMenuEntree2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.35s;
}
.sectionMenuGout .sectionMenuEntree3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.475s;
}
.sectionMenuGout .sectionMenuPlat {
  animation: menuOpacity 0.25s 0.625s ease-out both;
}
.sectionMenuGout .sectionMenuPlat1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.85s;
}
.sectionMenuGout .sectionMenuPlat2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.975s;
}
.sectionMenuGout .sectionMenuPlat3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.1s;
}
.sectionMenuGout .sectionMenuDessert {
  animation: menuOpacity 0.25s 1.25s ease-out both;
}
.sectionMenuGout .sectionMenuDessert1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.475s;
}
.sectionMenuGout .sectionMenuDessert2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.6s;
}
.sectionMenuGout .sectionMenuDessert3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.725s;
}
.sectionMenuGout .sectionMenuButton {
  animation: buttonOpacity 0.65s 1.875s ease backwards;
}

.sectionMenuEnchantee .sectionMenuEntree {
  animation: menuOpacity 0.25s 0.2s ease-out both;
}
.sectionMenuEnchantee .sectionMenuEntree1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.225s;
}
.sectionMenuEnchantee .sectionMenuEntree2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.35s;
}
.sectionMenuEnchantee .sectionMenuEntree3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.475s;
}
.sectionMenuEnchantee .sectionMenuEntree4 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.6s;
}
.sectionMenuEnchantee .sectionMenuPlat {
  animation: menuOpacity 0.25s 0.75s ease-out both;
}
.sectionMenuEnchantee .sectionMenuPlat1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.975s;
}
.sectionMenuEnchantee .sectionMenuPlat2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.1s;
}
.sectionMenuEnchantee .sectionMenuPlat3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.225s;
}
.sectionMenuEnchantee .sectionMenuDessert {
  animation: menuOpacity 0.25s 1.375s ease-out both;
}
.sectionMenuEnchantee .sectionMenuDessert1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.6s;
}
.sectionMenuEnchantee .sectionMenuDessert2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.725s;
}
.sectionMenuEnchantee .sectionMenuDessert3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.85s;
}
.sectionMenuEnchantee .sectionMenuButton {
  animation: buttonOpacity 0.65s 2s ease backwards;
}

.sectionMenuFrancaise .sectionMenuEntree {
  animation: menuOpacity 0.25s 0.2s ease-out both;
}
.sectionMenuFrancaise .sectionMenuEntree1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.225s;
}
.sectionMenuFrancaise .sectionMenuEntree2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.35s;
}
.sectionMenuFrancaise .sectionMenuEntree3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.475s;
}
.sectionMenuFrancaise .sectionMenuPlat {
  animation: menuOpacity 0.25s 0.625s ease-out both;
}
.sectionMenuFrancaise .sectionMenuPlat1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.85s;
}
.sectionMenuFrancaise .sectionMenuPlat2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.975s;
}
.sectionMenuFrancaise .sectionMenuPlat3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.1s;
}
.sectionMenuFrancaise .sectionMenuDessert {
  animation: menuOpacity 0.25s 1.25s ease-out both;
}
.sectionMenuFrancaise .sectionMenuDessert1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.475s;
}
.sectionMenuFrancaise .sectionMenuDessert2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.6s;
}
.sectionMenuFrancaise .sectionMenuDessert3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.725s;
}
.sectionMenuFrancaise .sectionMenuButton {
  animation: buttonOpacity 0.65s 1.875s ease backwards;
}

.sectionMenuDelice .sectionMenuEntree {
  animation: menuOpacity 0.25s 0.2s ease-out both;
}
.sectionMenuDelice .sectionMenuEntree1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.225s;
}
.sectionMenuDelice .sectionMenuEntree2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.35s;
}
.sectionMenuDelice .sectionMenuEntree3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.475s;
}
.sectionMenuDelice .sectionMenuPlat {
  animation: menuOpacity 0.25s 0.625s ease-out both;
}
.sectionMenuDelice .sectionMenuPlat1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.85s;
}
.sectionMenuDelice .sectionMenuPlat2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 0.975s;
}
.sectionMenuDelice .sectionMenuPlat3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.1s;
}
.sectionMenuDelice .sectionMenuDessert {
  animation: menuOpacity 0.25s 1.25s ease-out both;
}
.sectionMenuDelice .sectionMenuDessert1 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.475s;
}
.sectionMenuDelice .sectionMenuDessert2 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.6s;
}
.sectionMenuDelice .sectionMenuDessert3 {
  animation: menuOpacity 0.25s ease-out both;
  animation-delay: 1.725s;
}
.sectionMenuDelice .sectionMenuButton {
  animation: buttonOpacity 0.65s 1.875s ease backwards;
}

.footer {
  flex-direction: column;
  background-color: #353535;
  padding-bottom: 35px;
}
@media screen and (min-width: 1025px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerLogo {
    width: 100%;
    text-align: center;
  }
}
.footerLogo {
  color: white;
  margin: 27px 0 20px 25px;
}
.footer a {
  align-items: baseline;
  width: fit-content;
  color: white;
  text-decoration: none;
  margin: 5px 25px;
}
.footer a p {
  margin: 0;
}
.footer a .fas {
  font-size: 0.8em;
  margin-right: 12px;
}
.footer a:hover {
  color: #FF79DA;
}

/*# sourceMappingURL=style.css.map */
