//boutons submit des form
//aspect general
.buttonSubmitSkin {
    height: 50px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        to right bottom,
        $colorSecondaire,
        $colorPrimaire
    );
    color: white;
    box-shadow: 0 5px 10px lighten($colorBack3, 50%);
    &:hover {
        background: linear-gradient(
        to right bottom,
        lighten($colorSecondaire, 5%),
        lighten($colorPrimaire, 5%)
        );
        box-shadow: 0 5px 10px lighten($colorBack3, 30%);
    }
}
// boutons favoris en forme de coeur
.buttonCoeur {
    @include flexCenter;
    font-size: 1.4em;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: inherit;
    position: relative;
    &Cache {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: initial;
        top: 0;
    }
    input {
        appearance: none;
        width: 100%;
        height: 100%;
        position: absolute;
        outline: none;
        cursor: pointer;
    }
    .fa-heart {
        color: $colorBack3;
    }
}
.buttonCoeur input:checked {
    ~ .far {
        font-weight: bold;
        background: -webkit-gradient(linear, left top, right bottom, from($colorSecondaire), to($colorPrimaire));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    ~ span.buttonCoeurCache {
        background-color: inherit;
        height: 0%;
        transition: height 0.4s ease-in-out 0.1s;
    }
}
// checkbox des menu
.checkboxMenu {
    display: flex;
    width: 349px;
    height: 68px;
    margin: 10px auto;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 0 5px 10px lighten($colorBack3, 70%);
    input {
        display: none;
    }
    &Text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 14px 0 14px 12px;
        width: 337px;
        transition: width 0.5s ease-in;
        &Plat {
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
        &Detail {
            display: flex;
            &Plat {
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                width: 280px;
            }
            &Prix {
                width: 57px;
                color: $colorBack3;
                text-align: center;
            }
        }
    }
    &Animation {
        display: flex;
        align-items: center;
        width: 59px;
        background-color: $colorTertiaire;
        font-size: 1.4em;
        color: white;
        .fas {
            margin-left: 18px;
            transition: all 0.5s ease-in;
        }
    }
}
.checkboxMenu :checked {
    & + .checkboxMenuText {
        width: 278px;
        transition: all 0.5s ease-out;
    }
    & ~ * .fas {
        transform: rotate(-360deg);
        transition: all 0.5s ease-out;
    }
}