// animation block loader
@keyframes loaderOut {
    100% {
        z-index: -1000;
    }
}
// aparition spinner
@keyframes spinnerOpacity {
    15%,85% {
        transform: scale(1);
        opacity: 1;
    }
}
//animation Spinner loader arc de cercle
@keyframes arcRotateBefore {
    0% {
        transform: rotate(0deg);
    }
    50% {
        border-top-color: $colorSecondaire;
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes arcRotateAfter {
    0% {
        transform: rotate(0deg);
    }
    50% {
        border-top-color: $colorTertiaire;
    }
    100% {
        transform: rotate(-360deg);
    }
}
// animation spinnerText
@keyframes spinnerText {
    12.5% {
        text-shadow: $shadowMin $colorPrimaire;
    }
    25% {
        text-shadow: $shadowMax $colorSecondaire;
    }
    37.5% {
        text-shadow: $shadowMin $colorSecondaire;
    }
    50% {
        text-shadow: $shadowMax $colorTertiaire;
    }
    62.5% {
        text-shadow: $shadowMin $colorTertiaire;
    }
    75% {
        text-shadow: $shadowMax $colorSecondaire;
    }
    87.5% {
        text-shadow: $shadowMin $colorSecondaire;
    }
}
//animation slide backleft
@keyframes slideBackLeft {
    100% {
        transform: translateX(-100%);
    }
}
//animation slide backright
@keyframes slideBackRight {
    100% {
        transform: translateX(100%);
    }
}
// animation pulste bouton favoris
@keyframes pulseCoeur {
    50% {
        transform: scale(1.2);
    }
}
//animation menu
@keyframes menuOpacity {
    0% {
        transform: translateY($menuTranslY);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes buttonOpacity {
    0% {
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.85;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}