@font-face {
    font-family: 'roboto';
    src: url(../polices/Roboto.ttf) format('truetype');
}
@font-face {
    font-family: 'shrikhand';
    src: url(../polices/Shrikhand.ttf) format('truetype');
}
.pageFlex {
    @extend %fontGlobal;
}
// boutons submit des form
.buttonSubmitSkin {
    @extend %fontGlobal;
}
// form localisation page d'acceuil
.formLocalisationInput {
    @extend %fontGlobal;
    font-weight: bold;
}
.formDescription {
    & :nth-child(1) {
        font-size: 1.3em;
        font-weight: bolder;
    }   
}
// h2 des cartes restaurants
.restaurantCarteInfo h2 {
    font-size: 1.1em;
}
// titres des pages menu
.pageMenu h1{
    font-family: 'shrikhand';
    font-size: 1.7em;
    font-weight: 200;
}
//footer font
.footer {
    &Logo {
        font-family: 'shrikhand';
        font-size: 1.2em;
        @include desktop {
            font-size: 1.5em;
        }
    }
}
// font des h2 menu
.sectionMenu {
    &Entree h2 {
        font-size: 1.1em;
        font-weight: normal;
        color: $colorBack3;
    }
    &Plat h2 {
        font-size: 1.1em;
        font-weight: normal;
        color: $colorBack3;
    }
    &Dessert h2 {
        font-size: 1.1em;
        font-weight: normal;
        color: $colorBack3;
    }
}
//font des checkbox menu
.checkboxMenuText {
    &Plat {
        font-weight: bold;
        font-size: 1.1em;
    }
    &Detail {
        font-size: 0.9em;
        &Prix {
            font-weight: bold;
        }
    }
}