// responsive
@mixin mobile {
    @media screen and (max-width: 599px) {
        @content;
    }
}
@mixin tablette {
    @media screen and (min-width: 600px) and (max-width: 1024px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1025px) {
        @content;
    }
}
// flexbox center
@mixin flexCenter {
    @extend %flex;
    justify-content: center;
    align-items: center;
}
// background image en fonction des menu
@mixin backImage($name) {
    background-image: url(../images/restaurant/#{$name}.jpg);
    background-size: cover;
}