// couleurs utilisés
$colorPrimaire: #9356DC;
$colorSecondaire: #FF79DA;
$colorTertiaire: #99E2D0;
$colorBack1: #f6f6f6;
$colorBack2: #eaeaea;
$colorBack3: #353535;

//margin
$marginTitre: 50px 0 20px 22px;
