header {
    @extend %flex;
    height: 63px;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
        width: 163px;
        height: auto;
    }
    .fa-arrow-left {
        position: absolute;
        top: 19px;
        left: 20px;
        font-size: 1.5em;
        color: $colorBack3;
    }
}
.headerAcceuil {
    box-shadow: 0 1px 5px lighten($colorBack3,50%);
}