header {
    @include flexCenter;
    height: 63px;
    position: relative;
    img {
        width: 163px;
        height: auto;
    }
    .fa-arrow-left {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5em;
        color: $colorBack3;
    }
    @include desktop {
        height: 130px;
        background-color: white;
        img {
            width: 200px;
            height: auto;
        }
        .fa-arrow-left {
            top: 53px;
            left: 40px;
            font-size: 1.9em;
        }
    }
}
.headerAcceuil {
    box-shadow: 0 1px 5px lighten($colorBack3,50%);
}