.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderOut 0.1s 3.6s linear forwards;
    &BackLeft {
        position: fixed;
        top: 0;
        left: 0;
        width: 51%;
        height: 100%;
        background-color: $colorBack2;
        z-index: 10;
        animation: slideBackLeft 0.4s 3.1s ease-in forwards;
    }
    &BackRight {
        position: fixed;
        top: 0;
        right: 0;
        width: 51%;
        height: 100%;
        background-color: $colorBack2;
        z-index: 10;
        animation: slideBackRight 0.4s 3.1s ease-in forwards;
    }
}